<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550485998205-036ie37kvcqs5690tf22799qd09nkhku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550485998205-036ie37kvcqs5690tf22799qd09nkhku</string>
	<key>API_KEY</key>
	<string>AIzaSyCRHee8BJ5j-hp04ayxtC84Lcklwyo0uYY</string>
	<key>GCM_SENDER_ID</key>
	<string>550485998205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.add.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-ed06a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ed06a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550485998205:ios:358fafafc62d170bd18f14</string>
</dict>
</plist>